{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Detail</h1>
{% if review.image %}
  <img src="{{ review.image.url }}" alt="movie_image">
{% else %}
  <img src="{% static 'reviews/noimage.png' %}" alt="noimage">
{% endif %}
  <h1>영화 후기</h1>
  <p>작성자: {{ review.user }}</p>
  <p>번호: {{ review.pk }}</p>
  <p>후기 제목: {{ review.title }}</p>
  <p>후기 내용: {{ review.content }}</p>
  <p>영화 이름: {{ review.movie }}</p>
{% if request.user == review.user %}
  <form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <a href="{% url 'reviews:update' review.pk %}">[수정]</a>
{% endif %}
  <a href="{% url 'reviews:index' %}">[BACK]</a>
  <hr>
  <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
{% csrf_token %}
{{ comment_form }}
  <input type="submit" value="댓글 작성">
  </form>
  <hr>
  <h4>댓글 목록</h4>
  <p>작성된 댓글: {{ review.comment_set.count }}개</p>
  <ul>
{% for comment in comments %}
  <p>작성자: {{ comment.user }}</p>
  <p>댓글 번호: {{ comment.pk }}</p>
  <p>댓글 내용: {{ comment.content }}</p><hr>
  {% if request.user == comment.user %}
    <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="댓글 삭제">
    </form>
  {% endif %} 
{% empty %}
  <p>댓글이 없어요</p>
{% endfor %}
</ul>
{% endblock content %}