{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  a {
    color: grey;
  }
</style>
{% endblock style %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    {% for review in reviews %}
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          {% if review.image %}
            <div class="ratio ratio-4x3">
              <img src="{{ review.image.url }}" class="card-img-top" alt="image">
            </div>
          {% else %}
            <div class="ratio ratio-4x3">
              <img src="{% static 'no-image.png' %}" class="card-img-top" alt="no-image">
            </div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ review.movie }}</h5>
            <a href="{% url 'reviews:detail' review.pk %}"><p class="card-text">{{ review.content }}</p></a>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">{{ review.user }}</a>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}