{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  a {
    color: grey;
  }
  
  .c{
    height: 400px;
    object-fit: cover;
  }
</style>
{% endblock style %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    {% for review in reviews %}
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-1" style="width: 18rem;">
          {% if review.image %}
            <div class="">
              <img src="{{ review.image.url }}" class="card-img-top c" alt="image">
            </div>
          {% else %}
            <div class="c">
              <img src="{% static 'no-image.png' %}" class="card-img-top" alt="no-image">
            </div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ review.movie }}</h5>
            <a href="{% url 'reviews:detail' review.pk %}"><p class="card-text">{{ review.content }}</p></a>
            <p>댓글 수: {{ review.comment_set.all|length }}</p>
          </div>
          <div class="card-body">
            <p>{{ review.user }}</p>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}