{% extends 'base.html' %}
{% block style %}
  <style>
    .wid {
      width: 500px;
    }


  </style>
{% endblock style %}
{% block content %}

<div class="wid">
  <form action="{% url 'reviews:update' review.pk %}" method="POST" enctype="multipart/form-data" style="width: 500px" class="mx-auto m-5 mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-outline-secondary" type="submit" value="UPDATE">
    <a class="btn btn-outline-secondary" onclick='func()' href="{% url 'reviews:index' %}" role="button">HOME</a>
  </form>
</div>


{% endblock content %}