{% extends 'base.html' %}

{% block style %}
  <style>
    .wid {
      width: 500px;
    }
    p {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    p label {
      white-space: nowrap;
    }

    p span {
      grid-column: 1 / -1;
    }

  </style>
{% endblock style %}

{% block content %}
<div class="wid mt-3">
  <form action="{% url 'accounts:signup' %}" method="POST" style="width: 500px" class="mx-auto">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="회원가입" class="btn btn-outline-secondary d-block w-100 mb-3">
    <a class="btn btn-outline-secondary d-block w-100" onclick='func()' href="{% url 'reviews:index' %}" role="button">HOME</a>
  </form>
</div>
{% endblock content %}