{% extends 'base.html' %}

{% block style %}
  <style>
    .wid {
      width: 500px;
    }

    p {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    p span {
      grid-column: 1 / -1;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="wid">
  <form action="{% url 'accounts:update' %}" method="POST" style="width: 500px" class="mx-auto m-5 mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="회원정보수정" class="btn btn-outline-secondary d-block w-100"> 
  </form>
  <form action="{% url 'accounts:delete' %}" method="POST" style="width: 500px" class="mx-auto m-5 mt-0">
    {% csrf_token %}
    <input class="btn btn-outline-secondary d-block w-100 mb-3" type="submit" value="회원탈퇴">
    <a class="btn btn-outline-secondary d-block w-100" onclick='func()' href="{% url 'reviews:index' %}" role="button">HOME</a>
  </form>

</div>
{% endblock content %}